nav {
  width: 100%;
  background-color: lightblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

nav h4 {
  margin: 0;
}

.dropdown-container {
  position: relative;
}

.dropdown-container .dropdown {
  position: absolute;
  background-color: lightblue;
  padding: 10px;
}